
.msgboard-msg p {
    word-break: break-word;
    white-space: pre-wrap;
}

.msgboard-msg .edit-mode {
    display: none;
}
.msgboard-msg.edit-mode .edit-mode {
    display: block;
}
.msgboard-msg.edit-mode .read-mode {
    display: none;
}