

#chat-form {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
#chat-form [name="name"] {
flex: 0.2 1 auto;
}
@media (min-width: 992px) {
    #chat-form [name="name"] { flex: 0.15 1 auto; }
}
@media (max-width: 991px) {
    #chat-form [name="name"] { flex: 0.25 1 auto; }
}
@media (max-width: 768px) {
    #chat-form [name="name"] { flex: 0.35 1 auto; }
}
#chat-form [name="message"] {
    resize: none;
    max-height: 50vh;
}

#ul-chat {
    margin-bottom: 38px;
}

.chat-msg p {
    word-break: break-word;
    white-space: pre-wrap;
}