

#msgboard-form {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.app-dark #msgboard-form { background-color: #212121; }
#msgboard-form [name="messageText"] {
    resize: none;
    max-height: 50vh;
}

#ul-msgboard {
    padding-top: 10px;
    margin-bottom: 38px;
}
#ul-msgboard li {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.5);
}

.msgboard-msg p {
    word-break: break-word;
    white-space: pre-wrap;
}

#msgboard-search-form {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}